:root {
  --ff-primary: Arial, sans-serif;
  --ff-secondary: Arial, Helvetica, sans-serif;

  --clr-bg: #fff;
  --clr-light: #58b3d2;
  --clr-dark: #1e2124;
  --clr-accent: #36393e;

  --fw-reg: 300;
  --fw-bold: 900;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125 0.25em rgba(0, 0, 0, 0.15);
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--clr-bg);
  text-align: center;
}

.navbar {
  background-color: var(--clr-accent);
}

.main-nav {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  justify-content: right;
  padding-right: 50px;
}

.main-nav a:link {
  margin: 10px;
  color: #fff;
  text-decoration: none;
}

.main-nav a:visited {
  color: #fff;
}

.home-divs {
  display: block;
}

.welcome-div {
  display: inherit;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 25px;
}

.about-div {
  display: inherit;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 25px;
}

.apparel-div {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 25px;
  background-color: var(--clr-accent);

  max-width: 1500px;
  margin-left: 10%;
  margin-right: 10%;
}

.apparel-item-div {
  max-width: 600px;
  padding-top: 25px;
  padding-left: 70px;
}

.apparel-item-home {
  cursor: pointer;
  max-width: 450px;
  max-height: fit-content;
}

.accessories-div {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 25px;
  background-color: var(--clr-accent);

  max-width: 1500px;
  margin-left: 10%;
  margin-right: 10%;
}

.accessories-item-div {
  max-width: 600px;
  padding-top: 25px;
  margin-left: 50px;
}

.accessories-item-home {
  cursor: pointer;
  max-width: 450px;
  max-height: fit-content;
}

.join-div{
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.email-label{
 display: block;
 text-align: center;
 padding-bottom: 50px;
}

footer {
  display: flex;
  background-color: var(--clr-accent);
  justify-content: center;
  text-align: center;
}

.footer-elements {
  display: flex;
  list-style-type: none;
  font-size: 50px;
}

.footer-elements a {
  margin: 10px;
}

.footer-elements a:link {
  margin: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-elements a:visited {
  color: #fff;
}
